// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import '../css/app.css';

@import '../css/dashboard.css';
@import '../css/style.css';


:root {
    --primary-bg-color: rgba(0,0,0,0.3);
    --secondary-bg-color: rgba(0,0,0,0.5);
    --border-color: rgb(247, 240, 240);
    --text-color: white;
  
  }
